body
  position:relative !important
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

#body-wrapper
  padding: 50px
  @media (max-width: 549px)
    padding: 50px 15px

footer
  position: absolute
  bottom: 15px
  padding: 20px 50px 15px
  width: 100%
  font-size: 0.8em
  color: #777
  .presents
    text-align: right

  @media (max-width: 549px)
    padding: 15px 0 10px
    text-align: center
    .presents
      text-align: center


a, a:hover, a:focus
  color: #222
  text-decoration: underline

a:hover
  color: #777
  text-decoration: underline

.error
  color: rgba(224, 76, 76, 1)


@media (max-width: 549px)
  .mobile-only
    display: inline-block

@media (min-width: 550px)
  .mobile-only
    display: none

@media (max-width: 549px)
  .reverse-in-mobile
    display: flex
    flex-direction: column-reverse

.cn-font
  font-family: "Songti SC", "Microsoft Yahei", "WenQuanYi Micro Hei"

.en-font
  font-family: 'Georgia Italic'

.footnote
  font-size: 0.8em
  padding-top: 15px

.align-center
  text-align: center

.intro
  line-height: 1.5em

  @media (min-width: 550px)
    font-size: 1.2em

  .image.column
    text-align: center
    overflow: hidden

    @media (min-width: 550px)
      img
        max-height: 175px

    @media (max-width: 549px)
      img
        width: 100%
        margin-bottom: 20px

#cover-photo-wrapper
  position: fixed 
  width: 100% 
  height: 100%
  background: url(../images/cover.jpg) no-repeat center top fixed
  background-size: cover
  overflow: hidden;

#prepare-photo-wrapper
  position: fixed 
  width: 100% 
  height: 100%
  background: url(../images/bergen.jpg) no-repeat center top fixed
  background-size: cover
  overflow: hidden;

.cover-container
  text-align: center
  position: relative
  color: white
  background-color: rgba(127, 127, 127, 0.5)

  .next-button
    display: inline-block
    border: 1px solid white
    border-radius: 10px
    cursor: pointer
    min-width: 200px
    color: white
    text-decoration: none

    &:hover
      border-color: #777
      color: #777

  .next-button:after
    content: '\A'
    white-space: pre

  @media (min-width: 550px)
    padding: 100px 15px 20px
    left: 10%
    width: 30%
    min-width: 300px
    min-height: 100vh

    .name-cn
      font-size: 5em

    .name-en
      padding: 20px 0
      font-size: 3em

    .location
      padding: 40px
      font-size: 2.5em

    .time
      font-size: 2.5em
  
    .next-button
      padding: 5px 20px
      font-size: 2.5em
      min-height: 50px

      &:hover
        border-color: #777
        color: #777

    .next-cn
      margin: 50px 0 0

    .next-en
      margin: 30px 0 0

  @media (max-width: 549px)
    position: absolute
    top: 0
    left: 10%
    right: 10%
    bottom: 0
    padding-top: 300px
    min-height: 500px

    .name-cn
      font-size: 3em

    .name-en
      padding: 15px 0 10px
      font-size: 2.5em

    .location
      padding: 20px
      font-size: 2em

    .time
      font-size: 2em
  
    .next-button
      padding: 5px 10px
      font-size: 2em
      min-height: 30px

    .next-cn
      margin: 30px 0 0

    .next-en
      margin: 10px 0 0

#questionnaire
  text-align: center

  .icon-remove-guest
    cursor: pointer
    margin-top: 8px

  .button-clicked
    color: #fff
    background-color: #bbb

  .button-clicked:hover
    border-color: #777

.prepare-container
  color: white
  a
    color: white
  ul
    list-style-type: none

  @media (min-width: 550px)
    &
      min-height: 700px

#arrive-photo-wrapper
  background: url(../images/schloss.jpg) no-repeat center right scroll
  background-size: cover
  overflow: hidden
  text-align: center
  color: white
  @media (max-width: 549px)
    &
      min-height: 400px

    .arrive-photo-inner
      margin-top: 150px


  @media (min-width: 549px)
    &
      min-height: 600px

    .arrive-photo-inner
      margin-top: 200px

  .arrive-photo-inner
    display: inline-block
    padding: 2em 0 1em
    width: 100%
    line-height: 4em
    background-color: rgba(127, 127, 127, 0.7)

.arrive-page
  font-size: 1.2em

.arrive-by-plane
  width: 80%

#touch-photo-wrapper
  position: fixed 
  width: 100% 
  height: 100%
  background: url(../images/touch.jpg) no-repeat center center fixed
  background-size: cover
  overflow: hidden;

.touch-container
  text-align: center
  color: white
  background-color: rgba(127, 127, 127, 0.5)
  height: 100%
  font-size: 1.2em

  @media (min-width: 549px)
    position: relative
    left: 15%
    right: 15%
    width: 65%
    min-height: 100vh
    padding: 200px 50px

  @media (max-width: 549px)
    position: absolute
    top: 0
    left: 10%
    right: 10%
    bottom: 0
    padding-top: 100px
    min-height: 100vh
