body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a, a:hover, a:focus
  color: #000
  text-decoration: none
  background-color: #eee
  font-size: 1.2em

a:hover
  font-weight: bold


.footnote
  font-size: 0.8em
  padding-top: 15px

.align-center
  text-align: center

#questionnaire
  text-align: center

  .icon-remove-guest
    cursor: pointer
    margin-top: 8px

  .button-clicked
    color: #fff
    background-color: #bbb

  .button-clicked:hover,
    border-color: #777
