body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  @media (max-width: 549px)
    padding: 50px 15px

footer
  font-size: 0.8em
  color: #777
  .presents
    text-align: right

  @media (max-width: 549px)
    text-align: center


a, a:hover, a:focus
  color: #222
  text-decoration: underline

a:hover
  color: #777
  text-decoration: underline

@media (max-width: 549px)
  .reverse-in-mobile
    display: flex
    flex-direction: column-reverse

.footnote
  font-size: 0.8em
  padding-top: 15px

.align-center
  text-align: center

.intro
  line-height: 1.5em

  @media (min-width: 550px)
    font-size: 1.2em

  .image.column
    text-align: center

    @media (min-width: 550px)
      img
        max-height: 175px

    @media (max-width: 549px)
      img
        width: 100%
        margin-bottom: 20px


#questionnaire
  text-align: center

  .icon-remove-guest
    cursor: pointer
    margin-top: 8px

  .button-clicked
    color: #fff
    background-color: #bbb

  .button-clicked:hover
    border-color: #777
